* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-form{
    position: absolute;
    width: 80%;
    height: 80vh;
    bottom: 15vh;
    max-width: 1200px;
    display: flex;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
}
.imagen{
    width: 50%;
    display: flex;
    height: 100%;
}
.imagen img{
    width: 29.3rem;
    border-radius: 10px;
    max-width: 29.3rem;
}
#logo{
    max-width: 50%;
    height: auto;
    width: 70vh;
}
#logom{
    justify-content: center;
    background: none;
    border: none;
    position: absolute;
    right: 35vw;
    z-index: 1;
}
.form{
    width: 100%;
    height: 100%;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.title{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 4vh;

}
.title h2::after{
    content: '';
    display: block;
    width: 5rem;
    background-color: #5dc1b9;
    height: 0.3rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group, .tip-doc{
    display: flex;
    width: 100%;
    margin-top: 10vh;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-box,.tip-doc{
    display: flex;
    flex-direction: column;
}
.input-box input, .tip-doc, .input-box2 input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
}
.input-box input:focus, .input-box2 input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
}
.input-box label, .input-box2 label,
.tip-doc{
    font-size: 16px;
    color: #595959;
    font-family: "Bree Serif", serif;
}
.input-box input::placeholder, .input-box2 input::placeholder{
    font-family: "Bree Serif", serif;
}
.input-box input:focus, .input-box2 input:focus{
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
}
.next-button {
    position: relative;
    margin: 15px 0;
    width: 45%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    margin-left: 20vh;
    background: #7cdab2;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 2px 2px 5px #BABECC,
            -5px -5px 10px #ffffff73;
}
.next-button:focus {
    color: #26916d;
    box-shadow: inset 2px 2px 5px #BABECC,
            inset -5px -5px 10px #ffffff73;
}

/*Pagina 2 */
.inactivo{
    display: none;
}
.pag2 {
    z-index: 40;
    margin-right: 20vw;
    margin-top: 15vh;
}
.buton-register {
    position: relative;
    margin: 15px 0;
    width: 75%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: #7cdab2;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 2px 2px 5px #BABECC,
            -5px -5px 10px #ffffff73;
}
.buton-register:focus {
    color: #26916d;
    box-shadow: inset 2px 2px 5px #BABECC,
            inset -5px -5px 10px #ffffff73;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2vh 0;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 50%;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
footer a:hover {
    text-decoration: underline;
}

/* Estilos generales para pantallas más pequeñas */
@media (max-width: 768px) {
    .container-form {
        width: 90%; /* Ancho más pequeño */
        height: 60%;
        flex-direction: column; /* Cambiar a columna */
        overflow-y: scroll;
        margin-right: 2vw;
    }

    .imagen {
        display: none;
    }
    #logo {
        margin: 0;
        width: 90vh; /* Ajusta el ancho del logo */
    }

    #logom {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 55px; /* Alinea el logo en pantallas pequeñas */
        margin: 0;
    }
    .form {
        padding: 2rem; /* Menos padding */
        margin-top: 30vh;
    }

    .input-group {
        flex-direction: column; /* Cambiar a columna en dispositivos más pequeños */
    }

    #next-button, #ante-button {
        width: 90%; /* Botones ocupan el 90% del contenedor */
        margin: 0 auto; /* Centrar los botones */
        margin-bottom: 10px; /* Espacio inferior */
    }

    .butons {
        flex-direction: column; /* Alinear botones en columna */
        align-items: center; /* Centrar los botones */
        width: 100%; /* Asegurarse de que ocupen el 100% */
    }

    .butons button {
        margin-right: 0; /* Eliminar margen derecho en botones */
        margin-bottom: 10px; /* Espacio entre botones */
    }
}

/* Estilos para dispositivos muy pequeños, como móviles */
@media (max-width: 480px) {
    .title h2 {
        font-size: 1.5rem; 
    }

    .input-box input, .tip-doc {
        padding: 0.6rem 0.8rem;
    }

    footer {
        font-size: 0.7rem; 
    }
}
/*Estilos pantallas grandes */
@media (min-width: 1920px){
    .container-form{
        width: 55%;
        height: 60%;
        bottom: 25vh;
    }
    .form{
        font-size: 20px;
    }
    #logo{
        margin-left: 15vw;
    }
    .input-group{
        justify-content: space-between;
        
    }
    #next-button{
        right: 3vw;
    }
    #logom{
        width: 50%;
        left: 0.1vw;
    }
}
