* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bree Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4; /* Fondo opcional para mejorar la visibilidad */
}

.inactivo {
    display: none;
}

.pag1 .text-prin{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
}
.pag1 {
    width: 100%;
    height: auto; /* Permite que la altura se ajuste automáticamente */
    max-width: 800px;
    padding: 40px 30px;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    display: flex;
    flex-wrap: wrap; /* Permite que los inputs se envuelvan */
    gap: 20px; /* Espacio entre los inputs */
}

/* Si deseas que .pag2 esté inicialmente oculto y luego se muestre con una transición */
.pag2 {
    display: none; /* O usa .inactivo para controlarlo desde JavaScript */
}





footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2vh 0;
    font-size: 0.8rem;
    min-height: 10vh;
    width: 100%;
    opacity: 50%;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

footer a:hover {
    text-decoration: underline;
}
